* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lugrasimo','Young Serif', Outfit,cursive, sans-serif;
}

body {
    background-color: hsl(30, 54%, 90%);
}

/* Hero */
img {
    display: block;
    width: 100%;
    border-radius: 16px;
}

/* main */
.page {
    display: block;
    margin: 6% 20%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;
    padding: 4%;
}

.page h1 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 20px;
}

.page p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Young Serif", sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
}

strong {
    font-family: "Young Serif", sans-serif;
}

/* Preparation Section */
.pre-time {
    background-color: hsl(330, 100%, 98%);
    padding: 20px 40px;
    border-radius: 14px;
}

.pre-time > h2 {
    font-family: "Young Serif", sans-serif;
    color: hsl(14, 45%, 36%);
    font-size: 20px;
}

ul, ol {
    padding: 10px;
    margin: 0 10px;
}

li {
    padding: 6px 20px;
    font-family: "Young Serif", sans-serif;
}

/* Ingredient & Instruction Section */
.ingredient, .instruction, .ingredient{
    margin: 20px 0;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

/* Nutrition Section */
.nutrition h2 {
    color: hsl(14, 45%, 36%);
    margin-top: 20px;
}

.item p {
    display: inline-block;
    padding: 0 20px;
}

.cal {
    text-align: left;
    width: 54%;
}

.val {
    text-align: right;
    width: 45%;
}

.item span {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", sans-serif;
}


/* mobile */
@media only screen and (max-width: 375px) {
    img {
        width: 100%;
        border-radius: 8px;
    }

    .page {
        margin: 6% 10%;
        border-radius: 10px;
    }

    .page h1 {
        font-size: 1.8rem;
    }

    .page p {
        font-size: 1.1rem;
    }

    .pre-time {
        margin-top: 10px;
    }

    .cal {
        text-align: left;
        width: 40%;
    }

    .val {
        text-align: right;
        width: 54%;
    }

}